Names: Kyle Machalec and Ryan Dunn

Our dataset contains data from the Federal Emergency Management Agency (FEMA) relating to natural disasters occurring in the US over time. It contains information about federal aid programs that were declared as well as the time and length of each disaster. You can access our data here: 

https://www.kaggle.com/datasets/headsortails/us-natural-disaster-declarations?select=us_disaster_declarations.csv

User stories:

STORY: As a climatologist, I want to see the correlation between the number of natural disasters over time, so that I can see if there is a general increase over time.

IMPLEMENTATION: Our data analysis page will have a bar graph that shows the number of natural disasters for each year.

STORY: As a couple trying to puchase a house in a new state, we can check to see if the state we are considering has frequent natural disasters, so we know our future home will be safe.

IMPLEMENTATION: Our website provides a search function that can return all of the disasters in a particular state, sorted by year.

STORY: As a politician, I can see which type of natural disasters occur most frequently in my state, so that I can plan policy to guide infrastructure to be resistant to the disasters.

IMPLEMENTATION: Our website provides a search function that can return all of the disasters in a particular state, sorted by year. We are also considering creating a pie chart that can display the distribution of the type of disasters in a particular state.

STORY: As a political science student, I want to know the frequency that a state receives federal aid compared to the frequency of disasters in the state, so that see if aid is going to the states that are experiencing the most disasters.

IMPLEMENTATION: Our website provides a search function that can return all of the disasters in a state as well as all of the disasters that received Individual Assistance program aid and Public Assistance program aid in a particular state.
